<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partial/meta.ejs")%>
    <title><%= title%></title>
  </head>
  <body>
    <h1>This is Home Page using EJS</h1>
    <%- include("../partial/data.ejs")%>
  </body>
</html>
